Qus 1 :- Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [ ]:
Ans1:- data_variable{
       "String" = ('hello',"pwskills")
       "list"  = [1,2,3,4,5]
       "float" =  (11.11)
        "typle" = (10,20,40)
}

In [ ]:
Qus2 :-Given are some following variables containing data:
Ans2:- (i) var1 = ‘‘ - string
      (ii) var2 = ‘[ DS , ML , Python]’ - Error
      (iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ] - list
      (iv) var4 = 1. - float

Qus3. Explain the use of the following operators using an example:
(i) /  
(ii) % 
(iii) // 
(iv) **

In [ ]:
#Ans3
#(i)
a = 10
b = 3
result = a/b
print(result)

In [ ]:
#Ans3
#(ii)
a = 10
b = 3
result = a%b
print(result)

In [ ]:
#Ans3
a = 10
b = 3
result = a//b
print(result)

In [ ]:
#Ans3
#(iv)
a = 10
b = 3
result = a**b
print(result)

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the 
element and its data type.

In [ ]:
#Ans 4:-
l = [40, 'hello', 3.21, True, [1,2,3,4],('apple','kivi'), {"name" : "Ahman", "Course" : "DS"}, 'none','A', 5.0 ]
for item in l:
    print(f"Elements : {item}, Data Type : {type(item)}")

Qus5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many 
times it can be divisible.

In [14]:
#Ans5 :-
# Input number
number_A = int(input("Enter the dividend (number A): "))
number_B = int(input("Enter the divisor (number B): "))
count = 0
# Perform division using a while loop
while number_A >= number_B:
    number_A -= number_B
    count += 1
# Check if number_A is divisible by number_B
if number_A == 0:
    print(f"{number_B} divides {number_A} completely, {count} times.")
else:
    print(f"{number_B} doesn't divide {number_A} completely. Remainder: {number_A}")

Enter the dividend (number A):  48
Enter the divisor (number B):  24

24 divides 0 completely, 2 times.

Qus6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is 
divisible by 3 or not.

In [ ]:
#Ans6:-
# Create a list of 25 integers
int_list = [10, 21, 30, 45, 8, 9, 12, 27, 14, 18, 5, 6, 33, 22, 7, 90, 15, 25, 36, 48, 63, 77, 81, 99, 100]
for num in int_list:
    if num % 3 == 0:
        print(f"{num} is divisible by 3.")
    else:
        print(f"{num} is not divisible by 3.")

In [ ]:
int_list

Q7. What do you understand about mutable and immutable data types? Give examples for both showing 
this property.

Ans 7:- Immutable Data Types:
Immutable data types are those whose values cannot be modified after creation. When you try to change the value of an immutable object, a new object is created in memory. Examples of immutable data types in Python include integers, floating-point numbers, strings, and tuples.

Mutable Data Types:
Mutable data types are those whose values can be modified after creation. When you modify a mutable object, the changes are reflected in the same object's memory location. Examples of mutable data types in Python include lists, dictionaries, and sets.

In [ ]:
#Exp
# Immutable data types
a = 5
b = a
b = 10
print(a)  # Output: 5 (a remains unchanged)
print(b)

In [ ]:
# Exp Mutable data types

dict1 = {"a": 1, "b": 2}
dict2 = dict1
dict2["a"] = 10
print(dict1)  # Output: {"a": 10, "b": 2} (dict1 is modified)
print(dict2)  # Output: {"a": 10, "b": 2}